*{margin: 0;border: 0;padding: 0;}

.container{
    background-color: rgb(179, 179, 179);
    position: absolute;
    display: flex;
    width: 100vw;
    height: 50px;
    align-items: center;
    z-index: 0;
}
.menu_logos{
    display: flex;
    flex: 2 1 20%;
    justify-content: center;
    cursor: pointer;
}
.menu_logo{
    margin-left: 10px;
}
#OtherColor{
    color: blue;
}

.menu_itemns{
    display: flex;
    flex: 3 1 50%;
    justify-content: center;
    cursor: pointer;
}
.menu_item{
    margin-left: 10px;
}

.menu_icons{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 10%;
    justify-content: center;
    cursor: pointer;
}
.menu_icon{
    margin-right: 10px;
}

.menu_icon-menu-container{
    display: none;
    justify-content: start;
    cursor: pointer;
}
.menu_icon-menu{
    margin-right: 10px;
    cursor: pointer;
}

.menu_opened-menu{
    display: 'none';
}


@media (max-width: 712px) {
    .menu_logos{
        justify-content: start;
    }
    .menu_itemns, .menu_icons{
        display: none;
    }
    .menu_icon-menu-container{
        display: flex;
    }
    .menu_opened{
        display: flex;
        justify-content: end;
    }
    .menu_opened-menu{
        display: none;
        background-color: antiquewhite;
        position: absolute;
        flex-direction: column;
        height: 100vh;
        width: 30%;
        cursor: pointer;
    }
    .menu_opened-menu-item{
        display: flex;
        justify-content: start;
        margin: 0 auto;
        padding: 10px;
        font-size: 1.7em;
    }
    .menu_opened-menu-item-icon{
        display: flex;
        justify-content: end;
    }
    .menu_opened-icon-close{
        display: none;
        position: relative;
        margin: 2% 32% 0 0;
        cursor: pointer;
    }
}