@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Importar styles */

@import url("style/cabecalho.css");
@import url("style/titulo.css");
@import url("style/metricas.css");
@import url("style/vagas.css");
@import url("style/funcoes.css");
@import url("style/avaliacao.css");
@import url("style/rodape.css");

/* Nome dos padrões utilizados */

:root {
    --cinza: #667085;
    --azul-escuro: #3A404E;
    --vermelho-escuro: #8E2424;
    --cinza-azulado: #101828;
    --vermelho-claro: rgba(142, 36, 36, 0.05);
    --cinza-claro: #EAECF0;
    --cinza-meio-claro: #D0D5DD;
    --branco: white;
    --cinza-meio-escuro: #98A2B3;

    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0;
    font-family: 'Inter';  
}
