body{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    text-transform: uppercase;
    font-family: var(--font_buttons);
}

/* GIF de carregamento */

.img_loading{
    position: absolute;
    border-radius: 100%;
    width: 30%;
    height: 40%;
    transition: 1s;
    z-index: 2;
    display: none;
}

/* Estilos da página */

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 0;
    height: 0; */
    width: 70%;
    height: 80%;
    transition: 1s;
}
.box_result{
    background: var(--box_result);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 0;
    height: 0; */
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 50px;
}
.box_result_tittle{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7%;
    /* opacity: 0; */
    opacity: 1;
    transition: 2s;
    font-family: var(--font_box_list_tittle);
}
.box_result div{
    width: 90%;
    height: 15%;
    margin-bottom: 5%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-family: var(--font_box_list_itemns_item);
    background: var(--box_result_item);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: .2s;
    box-shadow: 0 2px 2px 0 black;
}
.box_result div:hover{
    box-shadow: 0 4px 2px 0 black;
}

/* Botoes da página */

.box button{
    margin-top: 3%;
    cursor: pointer;
}
.box_button-generate-again{
    padding: 15px;
    width: 40%;
    transition: .3s;
    background: #10669cc7;
    border-radius: 20px;
    color: rgb(235, 234, 234);
}
.box_button-generate-again:hover{
    transform: scale(1.1);
}
.box_button-generate-again:active{
    transform: scale(0.9);
}
.box_button-back-list{
    padding: 10px;
    width: 30%;
    transition: .3s;
    background: var(--cor_list_btn-extras);
    border-radius: 20px;
    color: white;
}
.box_button-back-list:hover{
    transform: scale(1.1);
}
.box_button-back-list:active{
    transform: scale(0.9);
}

/* Estilos para celular */

@media (max-width: 500px) {
    .box_result_tittle{
        font-size: 1em;
    }
    .box{
        width: 90%;
        height: 90%;
        transition: 1s;
    }
    .box_button-generate-again{
        padding: 15px;
        width: 50%;
    }
    .box_button-back-list{
        padding: 10px;
        width: 40%;
    }
    .box_result_tittle{
        font-size: 3em;
    }
}