body{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    text-transform: uppercase;
    font-family: var(--font_buttons);
}

/* GIF de carregamento */

.img_loading{
    position: absolute;
    border-radius: 100%;
    width: 30%;
    height: 50%;
    transition: 1s;
    z-index: 2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.548);
}

/* Estilos da página */

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    transition: 1s;
    margin: 20px 0;
}
.box_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    /* border: 1px solid black; */
    border-radius: 30px;
    z-index: 8;
}
.box_result_tittle{
    color: var(--cor_box_result_tittle);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 10px;
    opacity: 0;
    transition: 2s;
    font-family: var(--font_box_list_tittle);
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.486);
    padding: 10px;
    border-radius: 50px;
}
.box_result_item1, .box_result_item2, .box_result_item3{
    width: 90%;
    height: 15%;
    margin-bottom: 5%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-family: var(--font_box_list_itemns_item);
    background: var(--box_result_item);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: .5s;
    box-shadow: 0 2px 2px 0 black;
    opacity: 0;
    z-index: 3;
    flex-wrap: wrap;
}
.box_result_item1:hover, .box_result_item2:hover, .box_result_item3:hover{
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.774);
}

/* Botoes da página */

.box button{
    margin-top: 3%;
    cursor: pointer;
}
.box_button-generate-again{
    padding: 15px;
    width: 40%;
    transition: .3s;
    background: #10669cd7;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.box_button-generate-again:hover{
    transform: scale(1.1);
}
.box_button-generate-again:active{
    transform: scale(0.9);
}
.box_button-back-list{
    padding: 10px;
    width: 30%;
    transition: .3s;
    background: rgba(255, 174, 0, 0.699);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.box_button-back-list:hover{
    transform: scale(1.1);
}
.box_button-back-list:active{
    transform: scale(0.9);
}
.box_result_item1-span{
    text-align: center;
    width: 80%;
}
.box_result_item2-span{
    text-align: center;
    width: 80%;
}
.box_result_item3-span{
    text-align: center;
    width: 80%;
}
.box_result_item1-img, .box_result_item2-img, .box_result_item3-img{
    height: 50%;
}





.caixa_info-filme{
    display: flex;
    height: 50%;
    width: 100%;
    font-size: 16px;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    
}
.caixa_info-filme_informacoes{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    margin-left: 20px;
    justify-content: center;
}

.caixa_info-filme_informacoes-titulo, .caixa_info-filme_informacoes-nota, .caixa_info-filme_informacoes-generos, .caixa_info-filme_informacoes-descricao{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.caixa_info-filme_informacoes-titulo-1, .caixa_info-filme_informacoes-nota-1, .caixa_info-filme_informacoes-generos-1, .caixa_info-filme_informacoes-descricao-1{
    text-align: start;
    flex: 1;
    margin-right: 10px;
}
.caixa_info-filme_informacoes-titulo{
    font-size: 2em;
    font-weight: bold;
}
.caixa_info-filme_informacoes-titulo-2, .caixa_info-filme_informacoes-nota-2, .caixa_info-filme_informacoes-generos-2, .caixa_info-filme_informacoes-descricao-2{
    text-align: start;
    flex: 2 1 100%;
}

.caixa_info-filme_banner{
    height: 300px;
    margin: 0 10px;
    box-shadow: 0 0 3px 1px #0000003b;
    border-radius: 5px;
}

.caixa_info-filme_img-generos{
    display: flex;
    flex-wrap: nowrap;
    width: 92%;
    height: 160px;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
    border-radius: 10px;
    background: #00000099;
}
.caixa_info-filme_img-genero{
    height: 150px;
    width: 100px;
    box-shadow: 3px 0px 10px 2px black;
    transition: .3s;
    cursor: pointer;
}
.caixa_info-filme_img-genero:hover {
    transform: scale(1.8);
}

.icon-x{
    height: 28px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: .2s;
}
.icon-x:hover{
    transform: scale(1.1);
}
.icon-x:active{
    transform: scale(0.9);
}

/* .mostra-filme_generos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-content: space-around;
    height: 200px;
    width: 180px;
} */
/* .mostra-filme_img-genero{
    height: 80px;
    width: 50px;
    margin-left: 5px;
} */

/* Estilos para celular */

@media (max-width: 600px) {
    .box_result_tittle{
        font-size: 1em;
    }
    .box{
        width: 90%;
        height: 90%;
        transition: 1s;
    }
    .box_button-generate-again{
        padding: 15px;
        width: 50%;
    }
    .box_button-back-list{
        padding: 10px;
        width: 40%;
    }
    .box_result_tittle{
        font-size: 2.5em;
    }
    .img_loading{
        width: 80%;
        height: 50%;
    }
    .box_result{
        border-radius: 0;
    }
    .box_result_item1-img, .box_result_item2-img, .box_result_item3-img{
        height: 40%;
    }
}
@media (max-width: 800px) {
    .img_loading{
        width: 70%;
        height: 50%;
    }
}
@media (max-width: 1200px) {
    .img_loading{
        width: 60%;
        height: 50%;
    }
}
@media (max-width: 1500px) {
    .img_loading{
        width: 30%;
        height: 50%;
    }
}
