/* Corpo do cabeçalho */

.cabecalho {
    display: flex;
    margin: 2em 130px;
    width: auto;
    align-items: center;
    justify-content: center;
}

/* Logo do cabeçalho */

.cabecalho_logo {
    margin-right: 3em;
    font-weight: 500;
}

.logo {
    padding-right: 0.5em;
    width: 27px;
    height: 26.99px;
}

/* Menu do cabeçalho do site */

.cabecalho_menu {
    display: flex;
    list-style: none;
}

.cabecalho_menu_item {
    margin-left: 2em;
}

.cabecalho_lista_link {
    text-decoration: none;
    color: var(--cinza);
}

/* Menu de acesso do cabeçalho do site */

.cabecalho_menu_acesso {
    display: flex;
    list-style: none;
    margin-left: 10em;
}

.cabecalho_menu_acesso_item {
    margin-left: 2em;
}

.cabecalho_lista_link_acesso {
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 10px 18px;
    border-radius: 8px;
    background-color: var(--vermelho-escuro);
    color: white;
}
