body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_result{
    background: var(--box_result);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40%;
}
.box_result_tittle{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7%;
}
@media (max-width: 500px) {
    .box_result_tittle{
        font-size: 1em;
    }
    .box_result{
        width: 50%;
        height: 40%;
    }
}
.box_result div{
    width: 90%;
    height: 15%;
    margin-bottom: 5%;
    cursor: pointer;
}
.box_result_item1{
    background: var(--box_result_item1);
}
.box_result_item2{
    background: var(--box_result_item2);
}
.box_result_item3{
    background: var(--box_result_item3);
}