@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


:root{
    /* Cores */
    --cor_box_begin: gray;

    --cor_box_list: gray;
    --cor_box_list_camp: white;
    --cor_box_list_camp-btn-add: rgb(72, 72, 230);
    --cor_box_list_itemns_item: rgb(165, 162, 162);
    --cor_box_list_camp-error: rgb(167, 0, 0);

    --cor_list_btn-create: yellow;
    --cor_list_btn-extras: orange;

    --box_result: gray;
    --box_result_item1: rgb(250, 190, 200);
    --box_result_item2: rgb(240, 154, 168);
    --box_result_item3: rgb(248, 123, 144);
    
    /* Fontes */
    --font_box_begin_tittle: 'Special Elite', 'cursive';
}

*{border: 0;padding: 0;margin: 0;}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div{
    z-index: 1;
}
.img_background{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    z-index: 0;
}