/* Vagas em geral */

.vagas {
    text-align: center;
}

/* Estilos de cada um */

.titulo_secundario {
    margin-bottom: 20px;
}

.titulo_secundario_fundo-vermelho {
    background: var(--vermelho-claro);
    border-radius: 16px;
    padding: 4px 12px;
}

.titulo_principal_vagas {
    margin: 24px 0 20px 0;
    font-weight: 600;
    font-size: 36px;
}

.titulo_descricao {
    margin-bottom: 64px;
}